{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{ object.image.url }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ object.category.long_name }}</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
              <b>{{ object.title }}</b>
            </span>
            <br>
            {% if object.discount_price %}
            <span class="mr-1">
              <del>${{ object.price }}</del>
            </span>
            <span>${{ object.discount_price }}</span>
            {% else %}
            <span>${{ object.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>
          <p>
            {% if object.stock < 5 %}
            <span class="text-danger">only {{ object.stock }} left in stock!</span>
            {% endif %}
          </p>

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form> {% endcomment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
            Remove from cart
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-12 text-center">

        <h4 class="my-4 h4">Related Products</h4>

        {% if related_items %}

        <h4>You may also interested in following products. Following products are similar to your choice.</h4>

        {% else %}

        <h4>No related items found. This is exclusive product in this category.</h4>

        {% endif %}

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      {% for item in related_items %}

      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-3">

        <a href="{{ item.get_absolute_url }}" class="dark-grey-text">
          <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.slug }}">
        </a>
        <span>
          <b>{{ item.title }}</b>
        </span>
        <h4 class="font-weight-bold blue-text">
          <strong>$
            {% if item.discount_price %}
            {{ item.discount_price }}
            {% else %}
            {{ item.price }}
            {% endif %}
          </strong>
        </h4>

      </div>
      <!--Grid column-->

      {% endfor %}

    </div>
    <!--Grid row-->

  </div>
</main>

{% endblock content %}